spring:
  datasource:
    url: jdbc:mysql://localhost:3306/demo_db
    username: root
    password: root
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  cache:
    type: caffeine
  security:
  user:
  name: admin
  password: admin123

server:
  error:
    include-message: always
